@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hide {
    display: none;
}

/* Banner style starts */
.banner-container {
    max-width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
}

.banner-content {
    /* border: 2px solid red; */
    max-width: 708px;
    margin: 0 20px;
}

.banner-content h3 {
    /* border: 2px solid blue; */
    color: rgb(39, 39, 39);
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-content p {
    /* border: 2px solid purple; */
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-content input {
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    /* padding: 15px; */
}

.banner-image img {
    /* border: 2px solid red; */
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}


/* Featured style starts */
.featured-container {
    /* border: 2px solid red; */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-bottom: 80px;
}

.featured-contents {
    /* border: 2px solid red; */
    width: 572px;
}

.featured-contents h3 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
}

.featured-contents p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px auto 10px auto;
}

.featured-img {
    /* border: 2px solid red; */
    width: 980px;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}

.featured-img img {
    max-width: 300px;
    height: 310px;
    margin-top: 40px;
}

#img-size {
    max-width: 300px;
    height: 310px;
}

.bg-color {
    width: 300px;
    height: 350px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.feature-img img {
    max-width: 300px;
    max-height: 300px;
    margin-top: 50px;
}

a {
    color: rgb(39, 39, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}


/* Options style starts */
.option-container {
    /* border: 2px solid red; */
    width: 980px;
    margin: 0 auto;
    padding: 40px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 80px;
}

.option-content {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


/* Discount style starts */
.discount-container {
    /* border: 2px solid red; */
    max-width: 1920px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 80px;
}

.discount-content {
    /* border: 2px solid red; */
    width: 572px;
    text-align: center;
}

.discount-content h3 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 24px;
}

.discount-content p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px auto;
}

.discount-content button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding: 15px 40px 15px 40px;
}

.pri-color {
    color: rgb(229, 84, 115);
}

.dis-img {
    /* border: 2px solid red; */
    max-width: 318px;
}


/* Instagram style starts */
.instagram-container {
    /* border: 2px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-bottom: 80px;
}

.insta-contents {
    /* border: 2px solid red; */
    width: 572px;
}

.insta-contents h3 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
}

.insta-contents p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px auto 10px auto;
}

.insta-img {
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
}

.insta-img img {
    max-width: 350px;
    height: 330px;
}


/* Deals style starts */
.deals-container {
    /* border: 2px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
    background-image: url('../asset/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}

.deals-contents {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
    align-items: center;
    text-align: center;
}

.deals-contents h3 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
}

.deals-contents p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px auto 40px auto;
}

.btn-gap {
    display: flex;
    gap: 15px;
}

#email {
    width: 650px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.6);
    font-size: 16px;
    font-weight: 400;
    background: rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
}

#subscribe {
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background: rgb(229, 84, 115);
}


/* Footer style starts */
.footer-container {
    /* border: 2px solid red; */
    max-width: 1920px;
    background: rgb(17, 16, 16);
    padding: 30px;
}

.footer-contents {
    width: 572px;
    text-align: center;
    margin: 0 auto;
}

.footer-contents h3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    margin-top: 30px;
}

.footer-contents span {
    color: rgb(229, 84, 115)
}

.p1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 18px auto 30px auto;
}

.p2 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 30px;
}


/* Responsive section */
@media screen and (max-width: 576px) {

    /* Header style */
    .banner-container {
        flex-direction: column;
        padding: 0;
    }

    .banner-content h3 {
        font-size: 40px;
        margin-top: 20px;
    }

    .banner-image img {
        height: 441px;
        margin-top: 30px;
    }

    /* Featured style */
    .featured-container {
        width: 80%;
        margin: 0;
        padding: 0;
    }

    .featured-contents {
        width: 100%;
        margin: 0;
    }

    .featured-img {
        width: 90%;
        flex-direction: column;
        gap: 50px;
    }

    .featured-img img {
        width: 100%;
    }

    #img-size {
        width: 100%;
    }

    .bg-color {
        width: 100%;
    }

    /* Option style */
    .option-container {
        width: 100%;
    }

    .option-content {
        flex-direction: column;
        gap: 30px;
    }

    /* Discount style */
    .discount-container {
        flex-direction: column;
        padding: 0;
    }

    .discount-content {
        width: 100%;
        margin-bottom: 30px;
    }

    .discount-content h3 {
        font-size: 30px;
    }

    /* Instagram style */
    .instagram-container {
        width: 80%;
    }

    .insta-contents {
        width: 90%;
    }

    .insta-img {
        flex-direction: column;
        width: 100%;
    }

    .deals-container,
    .footer-container {
        width: 100%;
        padding: 0;
    }

    .p1,
    .p2,
    .footer-contents h3,
    .footer-contents,
    .deals-contents {
        width: 100%;
    }

    #email {
        width: 100%;
    }
}